@import "map";
@import "menu";
@import 'carPopup';
@import 'loading';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  height: 100%;
  margin: 0;
  font-size: 14px;
}

.App {
  margin: 0 auto;
  height: 100%;
  width: 1000px;
}

.page-wrapper {
  position: absolute;
  top: 15%;
  width: 1000px;
}

.text-bold {
  font-weight: bold;
}